.svn
.DS_Store
app/Config/app_config.php
holder
plugins
Plugin
Vendor
vendors
components
app/webroot/files/*
app/webroot/assets
app/tmp/logs/*.*
app/tmp/cache/*_*
app/tmp/cache/models/*_*
app/tmp/cache/persistent/*_*
app/tmp/sqlite
app/View/Themed
lib/Cake
composer.lock
.composer